In [7]:
import pandas as pd

In [8]:
years_df = pd.read_csv('years.csv')
birth_state_df = pd.read_csv('birth_state.csv')

In [9]:
years_df.head()

       player  season_start  season_end
0  A.C. Green          1990        1991
1  A.C. Green          1991        1992
2  A.C. Green          1992        1993
3  A.C. Green          1993        1994
4  A.C. Green          1994        1995

In [10]:
birth_state_df.head()

           player birth_state
0    Aaron Brooks  Washington
1    Aaron Gordon  California
2      Aaron Gray  California
3  Aaron Harrison       Texas
4     Aaron James   Louisiana

In [11]:
final_data = pd.merge(years_df, birth_state_df, on=['player'], how='right')

In [12]:
final_data.to_csv("Bar_Chart.csv")