In [1]:
# import libraries
import csv
import pymongo
import pandas as pd

In [6]:
# import csv file
salary_dataset = pd.read_excel("../Datasets/Player_salary_1990-2017.xlsx")
# salary_dataset

In [8]:
# Establish connection to local host 27017
conn = 'mongodb://localhost:27017'

# Connect to MongoClient
client = pymongo.MongoClient(conn)
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [ ]:
# Begin by dropping any previous version of the MongoDB instance.
# client.drop_database('nba_players_db')

In [9]:
# Create database by naming db here
db = client.nba_players_db

In [ ]:
# Create collection by naming collection here

In [10]:
# # Create salary collection
# salary_collection = db.player_salary_info

# # Use ".to_dict('records')"in combination with .csv variable to create list of dictionaries data set
# salary_dataset.reset_index(inplace=True)

# salary_dict = salary_dataset.to_dict('records')

# # Insert data from the 'data_dict' variable into the collection using 'collection' variable
# salary_collection.insert_many(salary_dict)

In [ ]:
# Create position collection
position_collection = db.player_position

In [17]:
# CODE TO PRINT OUT CONTENTS OF THE DATABASE

# Store dataset now contained in the collection using the collection's name
query = db.salary_collection.find_one()

# Use a for loop to confirm data is now located in the database
for x in query:
    print(x)

TypeError: 'NoneType' object is not iterable

In [ ]:
# After finished with analysis, drop database by uncommenting and running this code
# client.drop_database('final_testing_beds_db')

In [16]:
# <<variable name>> = db.testing_beds.find({"<<field>>":"<<value>>"}).pretty()